    #ingNameSpan {}

    .title {
        font-size: 22px;
    }

    #result {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 10px;

    }

    body {
        background-color: #1C1C1C;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    #ingDiv {
        background-color: #F5E8D8;
        border-radius: 5px;
        padding: 10px;
    }

    #siteTitle {
        color: #F5E8D8;
    }

    #search {
        padding: 10px;
        border-radius: 10px;
    }

    #btn {
        padding: 10px;
        border-radius: 10px;
    }

    #colorCircle {
        padding: 4px;
        height: 0px;
        border-radius: 50%;
        display: inline-flex;
        margin-left: 5px;
    }